html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#container {
  width: 100%;
  height: 100%;
}
.login_bg {
  width: 100%;
  height: 100%;
  background: url(../../images/login/pbg.png) repeat-x left center;
}
.login_top {
  width: 1024px;
  margin: 0 auto;
}
.login_container {
  /*background: url(../images/loginBannerBg.png);
  background-color: #0e2534;*/
}
.login_top_logo {
  width: 220px;
  height: 31px;
  margin: 0 0 15px 5px;
  float: left;
  background: url(../../images/logo2.png) no-repeat left center;
}
.login_top_links {
  float: right;
  margin: 0 5px 15px 0;
  line-height: 31px;
}
.login_formContainer {
  position: relative;
  width: 698px;
  height: 358px;
  margin: 0 auto;
  background: url(../../images/login/login_bg.png);
}
.login_foot {
  position: absolute;
  left: 7px;
  bottom: 10px;
  width: 390px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: #86c1f5;
}
.login_logo {
  position: absolute;
  left: 2px;
  top: 200px;
  width: 353px;
  height: 30px;
  text-align: right;
  color: #fff;
  font-size: 16px;
}
.login_logo span {
  display: block;
  margin: 68px auto 24px auto;
  width: 96px;
  height: 96px;
  background: url(../../images/login/logo.png) no-repeat center center;
}
.login_logo label {
  color: #fff;
  font-size: 24px;
  font-family: "黑体";
  font-weight: normal;
  letter-spacing: -1px;
}
.login_form {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 290px;
  height: 330px;
  padding: 15px 30px;
}
.login_form .input-group-addon {
  background-color: #ff0000;
}
.login_formTitle {
  color: #596a7e;
  padding: 5px 0 20px 0;
  font-size: 18px;
  text-align: left;
  border-bottom: #cddaeb solid 1px;
}
.login_validateLabel {
  line-height: 30px;
  height: 30px;
  color: #ff0000;
}
